/dist
temp
**/.DS_Store
**/.svn/
/*.project
va specific
*.class
target
target/*
*.lock
*.DS_Store
/cache
*.db
/test-output
*.hbm.xml
/.claude
/.vscode
/.apt_generated_tests/
/META-INF/
/workspace/
/profiles/
/source/java/bin/
/lucee-download-cache/
